* {
  margin: 0;
  padding: 0;
}
/*Start of Navigation Styles*/
#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}
label {
  cursor: pointer;
}
label:focus {
  outline: none;
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(243, 165, 54);
  width: 240px;
  height: 100%;
  transform: translate3d(-240px, 0, 0);
  transition: transform 0.35s;
  z-index: 10;
}
.menu label.menu-toggle {
  position: absolute;
  right: -60px;
  width: 60px;
  height: 60px;
  line-height: 0px;
  display: block;
  padding: 0;
  text-indent: -9999px;
  background: rgba(243, 165, 54, 0) url(https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png) 50% 50%/25px 25px no-repeat;
  color: rgb(75, 75, 74);
}
.menu ul li > label {
  background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-128.png) 95% 50%/16px 16px no-repeat;
}
.menu ul li a, .menu ul li label {
  display: block;
  text-align: center;
  padding: 0 20px;
  line-height: 60px;
  text-decoration: none;
  color: #000;
}
.menu ul li a:hover, .menu ul li label:hover {
  color: #666;
  text-decoration: underline;
}

/* hide inputs */
.menu-checkbox {
  display: none;
}

/* hide navigation icon for sublabels */
.menu .menu label.menu-toggle {
  background: none;
}

/* fade in checked menu */
.menu-checkbox:checked + .menu {
  transform: translate3d(0, 0, 0);
}
.menu small a{
  position: fixed;
  text-decoration: none;
  color: rgba(75, 75, 74, .5);
  font-size: 10px;
  margin-left: 20px;
  padding-top: 100vh;
}
.menu small a:visited {
  text-decoration: none;
  color: rgba(75, 75, 74, .5);
}
/*End of Navigation Styles*/



header, main, footer, #contactUs {
  display: grid;
  grid-template-columns: 5% repeat(9, 1fr) 5%;
}
header {
    background:
        linear-gradient(
        rgba(243, 165, 54, .8),
        rgba(243, 165, 54, .8)
        ),
        url('img/kitchen.jpg');
        background-size: cover;
    grid-template-rows: 70px auto 50px auto;
}
header h1 {
    grid-column: 2 / 11;
    grid-row-start: 2;
    font-size: 48px;
}
.intro {
    grid-column: 2 / 11;
    grid-row: 4;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 50px;
    color: black;
}
.intro a {
    color: black;
    text-decoration: underline;
    background-color: rgb(243, 165, 54);
    border-radius: 2px;
    transition: all .3s;
}
.intro a:visited {
    color: black;
}
.intro a:hover {
    background-color: white;
}
h1, header a button {
    justify-self: left;
    align-self: end;
    color: rgb(75, 75, 74);
}
main {
  padding: 20px 0;
}
main > *{
  grid-column: 2 / 11;
}
.specialBackground {
  background-color: #f3a536;
  /*background: linear-gradient(90deg, rgba(255,156,0,1) 0%, rgba(255,229,0,1) 100%);*/
  height: 60px;
}
main h2 {
  font-size: 30px;
  font-weight: 700;
  padding: 0 0 5px 0;
}
main h3 {
  font-weight: 300;
  font-size: 20px;
  font-style: italic;
}
.desc {
  font-size: 20px;
  font-weight: 300;
}
.aAndB {
  color: rgb(243, 165, 54);
}
.credit a{
  font-size: 8px;
  font-style: italic;
  font-weight: 300;
  text-decoration: none;
  color: rgb(75, 75, 74);
}
.credit a:visited {
  color: rgb(75, 75, 74);
}
footer {
  background-color: rgb(243, 165, 54);
  color: white;
  text-decoration: none;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
}
footer nav ul li a:visited, a {
  color: white;
}
footer nav ul, .smallContact, .smallTitle {
  padding-bottom: 20px;
}
footer nav ul li {
  padding: 10px 0;
}
.smallContact h4 a, .smallTitle h4 a {
  text-decoration: none;
}
footer .smallTitle span {
  color: rgb(75, 75, 74);
}
footer > *{
  grid-column: 2 / 11;
}
.statement {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 10px;
}
#contactUs {
  background-color: rgb(155, 155, 155);
  color: rgb(224, 224, 224);
  padding: 20px 0;
}
#contactUs > * {
  grid-column: 2 / 11;
}
#contactUs h3 {
  font-size: 20px;
  font-weight: 700;
  justify-self: center;
  color: white;
}
#contactUs small {
  font-size: 16px;
  font-style: italic;
  justify-self: center;
  color: white;
  padding-bottom: 10px;
}
#contactUs p {
  text-align: center;
  padding-bottom: 10px;
  font-size: 18px;
}
.contactRouts h4, .contactRouts h4 a {
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}
.specialBackground h1 {
  text-align: center;
  padding-top: 9px;
  font-weight: 700;
}
@media only screen and (min-width: 1017px) {
  header, main, footer, #contactUs {
    display: grid;
    grid-template-columns: 8% repeat(9, 1fr) 8%;
  }
  footer {
    display: grid;
    grid-template-columns: 5% repeat(5, 1fr) 5%;
    grid-template-rows: repeat(3, 100px);
  }
  footer nav ul {
    display: grid;
    height: 250px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
  }
  .smallContact, .smallTitle {
    grid-row: 2 / 3;
  }
  .smallContact {
    grid-column: 2 / 4;
  }
  .smallTitle{
    grid-column: 4 / 6;
  }
}
