/* Everything for .work is in here */
.work {
  margin-bottom: 4em;
}
.work div.icon {
  margin: 3em auto 0 auto;
}
.work h2 {
  margin: 0;
}
.work article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.projectContainer {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  margin: 20px 1em 0 1em;
  width: 100%;
  max-width: 375px;
  height: 375px;
  background: rgb(63, 63, 63);
  border-radius: 5px;
  text-align: left;
  -webkit-box-shadow: 0 4px 5px 0 rgba(86, 86, 86, 0.5),0 0 0 1px #FFF0;;
  -moz-box-shadow: 0 4px 5px 0 rgba(86, 86, 86, 0.5),0 0 0 1px #FFF0;;
  box-shadow: 0 4px 5px 0 rgba(86, 86, 86, 0.5),0 0 0 1px #FFF0;
}
.projectContainer a {
  text-decoration: none;
  color: GhostWhite;
  height: 100%;
  }
.project {
  display: grid;
  height: 100%;
  grid-template:
  ". a ." 4em
  ". b ." min-content
  ". c. " auto
  ". . ." 1em / 1em 1fr 1em;
}
.project > * {
  z-index: 99;
}
.project h3 {
  grid-area: a;
  align-self: end;
  padding: 10px;
  font-size: 1.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.project p {
  grid-area: b;
  padding: 5px 10px;
  background-color: none;
  border-radius: 10px;
  font-size: 1rem;
}
.project > span {
  grid-area: c;
  font-size: .8rem;
  color: GhostWhite;
  padding: 10px;
}
.project img {
  position: absolute;
  width: 100%;
  height: 100% !important;
  background: url(images/cbd.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(1px);
  mix-blend-mode: overlay;
}
#sandbox {
  border: 6px solid orange;
  background: rgb(255,165,0);
  background: linear-gradient(328deg, rgba(255,165,0,1) 0%, rgba(255,104,0,1) 100%);

}
