* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  background-color: #181818;
  color: #fff;
  font-family: 'B612 Mono', monospace;
  font-size: 12px;
  padding: 2em;
}
h1 {
  font-size: 1.3rem;
  width: 3em;
}
h2 {
  margin-top: 80px;
  font-size: .9rem;
}
h3 {
  font-size: .8rem;
}
.subHeader, .sectionBio {
  color: #adacac;
  max-width: 400px;
  margin-top: 10px;
}
header {
  margin: 30px 0 30px 0;
  margin-left: 30px;
}
span {
  color: #e67e1c;
}
.sectionBio {
  line-height: 15px;
  padding-left: 5px;
  border-left: 1px solid orange;
}
.locationWrapper, .todoWrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.locationList, .mapArea, .makeElementWrapper, .deleteElementWrapper, .userInputWrapper {
  width: 300px;
  height: 300px;
  padding: 10px;
  border-radius: 2px;
  background-color: #303030;
  margin: 0 10px 10px 0;
}
.locationList {
  display: grid;
  grid-gap: 5px;
  grid-template:
  ". . ." 1fr
  ". a ." 1fr
  ". b ." 1fr
  ". c ." 1fr
  ". . ." 1fr / 5px auto 5px;
}
.locA, .pinA {
  grid-area: a;
}
.locB, .pinB {
  grid-area: b;
}
.locC, .pinC {
  grid-area: c;
}
.locationList li, .mapArea li {
  background-color: #111111;
  padding: 20px;
  transition: .3s ease-in-out;
  border: 1px #111111 solid;
}
.mapArea li {
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}
.locA:hover, .locB:hover, .locC:hover {
  border: 1px orange solid;
}
.mapArea {
  background-image: url(images/topography.svg);
  display: grid;
  grid-gap: 5px;
  grid-template:
  ". . . . ." 1fr
  ". a . . ." 1fr
  ". . . b ." 1fr
  ". . . . ." 1fr
  ". . c . ." 1fr
  ". . . . ." 1fr / 1fr 1fr 1fr 1fr 1fr;
}
.makeElementWrapper, .deleteElementWrapper, .userInputWrapper {
  display: grid;
  grid-template:
  "" min-content
  "" 1fr
  "" min-content / 1fr;
}
 .makeElement, .deleteElement, .userInput {
   border: 1px solid #181818;
   margin: 10px 0;
}
.makeElementWrapper button, .deleteElementWrapper button, .userInputWrapper input {
  margin: 10px;
  align-self: end;
}
.makeElement li, .deleteElement li, .userInput li {
  cursor: pointer;
  background-color: #181818;
  padding: 10px;
  width: 100px;
  margin: 10px auto;
  transition: .3s ease-in-out;
  border: 1px #111111 solid;
}
.deleteElement li:hover {
  border: 1px orange solid;
}
