body {
  font-family: 'Roboto', serif;
  background-color: #ffdd99;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23FD9'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90%2C150 0%2C300 180%2C300'/%3E%3Cpolygon points='90%2C150 180%2C0 0%2C0'/%3E%3Cpolygon fill='%23AAA' points='270%2C150 360%2C0 180%2C0'/%3E%3Cpolygon fill='%23DDD' points='450%2C150 360%2C300 540%2C300'/%3E%3Cpolygon fill='%23999' points='450%2C150 540%2C0 360%2C0'/%3E%3Cpolygon points='630%2C150 540%2C300 720%2C300'/%3E%3Cpolygon fill='%23DDD' points='630%2C150 720%2C0 540%2C0'/%3E%3Cpolygon fill='%23444' points='810%2C150 720%2C300 900%2C300'/%3E%3Cpolygon fill='%23FFF' points='810%2C150 900%2C0 720%2C0'/%3E%3Cpolygon fill='%23DDD' points='990%2C150 900%2C300 1080%2C300'/%3E%3Cpolygon fill='%23444' points='990%2C150 1080%2C0 900%2C0'/%3E%3Cpolygon fill='%23DDD' points='90%2C450 0%2C600 180%2C600'/%3E%3Cpolygon points='90%2C450 180%2C300 0%2C300'/%3E%3Cpolygon fill='%23666' points='270%2C450 180%2C600 360%2C600'/%3E%3Cpolygon fill='%23AAA' points='270%2C450 360%2C300 180%2C300'/%3E%3Cpolygon fill='%23DDD' points='450%2C450 360%2C600 540%2C600'/%3E%3Cpolygon fill='%23999' points='450%2C450 540%2C300 360%2C300'/%3E%3Cpolygon fill='%23999' points='630%2C450 540%2C600 720%2C600'/%3E%3Cpolygon fill='%23FFF' points='630%2C450 720%2C300 540%2C300'/%3E%3Cpolygon points='810%2C450 720%2C600 900%2C600'/%3E%3Cpolygon fill='%23DDD' points='810%2C450 900%2C300 720%2C300'/%3E%3Cpolygon fill='%23AAA' points='990%2C450 900%2C600 1080%2C600'/%3E%3Cpolygon fill='%23444' points='990%2C450 1080%2C300 900%2C300'/%3E%3Cpolygon fill='%23222' points='90%2C750 0%2C900 180%2C900'/%3E%3Cpolygon points='270%2C750 180%2C900 360%2C900'/%3E%3Cpolygon fill='%23DDD' points='270%2C750 360%2C600 180%2C600'/%3E%3Cpolygon points='450%2C750 540%2C600 360%2C600'/%3E%3Cpolygon points='630%2C750 540%2C900 720%2C900'/%3E%3Cpolygon fill='%23444' points='630%2C750 720%2C600 540%2C600'/%3E%3Cpolygon fill='%23AAA' points='810%2C750 720%2C900 900%2C900'/%3E%3Cpolygon fill='%23666' points='810%2C750 900%2C600 720%2C600'/%3E%3Cpolygon fill='%23999' points='990%2C750 900%2C900 1080%2C900'/%3E%3Cpolygon fill='%23999' points='180%2C0 90%2C150 270%2C150'/%3E%3Cpolygon fill='%23444' points='360%2C0 270%2C150 450%2C150'/%3E%3Cpolygon fill='%23FFF' points='540%2C0 450%2C150 630%2C150'/%3E%3Cpolygon points='900%2C0 810%2C150 990%2C150'/%3E%3Cpolygon fill='%23222' points='0%2C300 -90%2C450 90%2C450'/%3E%3Cpolygon fill='%23FFF' points='0%2C300 90%2C150 -90%2C150'/%3E%3Cpolygon fill='%23FFF' points='180%2C300 90%2C450 270%2C450'/%3E%3Cpolygon fill='%23666' points='180%2C300 270%2C150 90%2C150'/%3E%3Cpolygon fill='%23222' points='360%2C300 270%2C450 450%2C450'/%3E%3Cpolygon fill='%23FFF' points='360%2C300 450%2C150 270%2C150'/%3E%3Cpolygon fill='%23444' points='540%2C300 450%2C450 630%2C450'/%3E%3Cpolygon fill='%23222' points='540%2C300 630%2C150 450%2C150'/%3E%3Cpolygon fill='%23AAA' points='720%2C300 630%2C450 810%2C450'/%3E%3Cpolygon fill='%23666' points='720%2C300 810%2C150 630%2C150'/%3E%3Cpolygon fill='%23FFF' points='900%2C300 810%2C450 990%2C450'/%3E%3Cpolygon fill='%23999' points='900%2C300 990%2C150 810%2C150'/%3E%3Cpolygon points='0%2C600 -90%2C750 90%2C750'/%3E%3Cpolygon fill='%23666' points='0%2C600 90%2C450 -90%2C450'/%3E%3Cpolygon fill='%23AAA' points='180%2C600 90%2C750 270%2C750'/%3E%3Cpolygon fill='%23444' points='180%2C600 270%2C450 90%2C450'/%3E%3Cpolygon fill='%23444' points='360%2C600 270%2C750 450%2C750'/%3E%3Cpolygon fill='%23999' points='360%2C600 450%2C450 270%2C450'/%3E%3Cpolygon fill='%23666' points='540%2C600 630%2C450 450%2C450'/%3E%3Cpolygon fill='%23222' points='720%2C600 630%2C750 810%2C750'/%3E%3Cpolygon fill='%23FFF' points='900%2C600 810%2C750 990%2C750'/%3E%3Cpolygon fill='%23222' points='900%2C600 990%2C450 810%2C450'/%3E%3Cpolygon fill='%23DDD' points='0%2C900 90%2C750 -90%2C750'/%3E%3Cpolygon fill='%23444' points='180%2C900 270%2C750 90%2C750'/%3E%3Cpolygon fill='%23FFF' points='360%2C900 450%2C750 270%2C750'/%3E%3Cpolygon fill='%23AAA' points='540%2C900 630%2C750 450%2C750'/%3E%3Cpolygon fill='%23FFF' points='720%2C900 810%2C750 630%2C750'/%3E%3Cpolygon fill='%23222' points='900%2C900 990%2C750 810%2C750'/%3E%3Cpolygon fill='%23222' points='1080%2C300 990%2C450 1170%2C450'/%3E%3Cpolygon fill='%23FFF' points='1080%2C300 1170%2C150 990%2C150'/%3E%3Cpolygon points='1080%2C600 990%2C750 1170%2C750'/%3E%3Cpolygon fill='%23666' points='1080%2C600 1170%2C450 990%2C450'/%3E%3Cpolygon fill='%23DDD' points='1080%2C900 1170%2C750 990%2C750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
header {
  background-color: #F2F2F2;
  box-shadow:
}
h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
  width: 70%;
}
h4, h5 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  width: 70%;
}
h6 {
  font-family: 'Roboto Slab', serif;
  font-size: 1em;
  font-weight: bold;
}
.title {
  margin: 2.5em 0 0 5%;
  padding-bottom: 2em;
}
#sub{
  width: 70%;
  font-family: 'Roboto', 'monospace';
  font-size: 20px;
  text-indent: 0;
  margin-top: 0;
}
/*main.normal styles*/
main.normal {
  display: grid;
  padding: 0 10%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "articleA articleA asideA"
  "articleB articleB articleB"
  "asideC asideC articleC";
  /*-moz-box-shadow:    inset 0 0 4px #000000;
  -webkit-box-shadow: inset 0 0 4px #000000;*/
  box-shadow: inset 0px -8px 8px -11px #000000, inset 0px 8px 8px -11px #000000;
}
h2 {
  font-size: 28px;
  font-weight: bold;
}
p {
  margin-top: 10px;
  text-indent: .7em;
}
p a {
  font-style: italic;
}
article, aside {
  padding: 15px;
  margin: 10px;
}
article.beg {
  grid-area: articleA;
  background-color: #e5e5e5;
}
aside.end {
  grid-area: asideA;
  background-color: #efc688;
}
article.full {
  grid-area: articleB;
  background-color: #e5e5e5;
}
aside#tickets {
  grid-area: asideC;
  background-color: #efc688;
}
article#time {
  grid-area: articleC;
  background-color: #e5e5e5;
}
.circle {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  width: 9em;
  height: 9em;
  float: left;
}
.filler {
  background-color: #F2F2F2;
  height: 15em;
  width: 100%;
}
#time p {
  font-size: 1.5em;
  margin-left: 0;
  text-indent: 0;
}
@media screen and (max-width: 600px) {
main.normal {
  grid-template-areas:
  "articleA"
  "asideA"
  "articleB"
  "asideC";
  padding: 0;
}
article.beg {
  grid-column: 1 / 4;
  margin: 10px;
  padding: 5px;
}
article.full {
  grid-column: 1 / 4;
  margin: 10px;
  padding: 5px;
}
aside.end {
  grid-column: 1 / 4;
  margin: 10px;
  padding: 5px;
}
aside#time {
  grid-column: 1 / 4;
  margin: 10px;
  padding: 5px;
}
}
/*end of main.normal styles*/
/*nav styles*/
nav {
  margin-bottom: 10px;
}
nav ul {
  list-style: none;
  background-color: #F2F2F2;
  text-align: center;
  padding: 0;
  margin: 0;
}
nav li {
  font-family: 'Roboto', serif;
  font-size: 1.2em;
  line-height: 30px;
  font-weight: bolder;
  height: 30px;
  padding: 2px;
  margin: 2px 5px;
}
nav a {
  text-decoration: none;
  color: #808080;
  display: block;
  transition: .3s color;
}

nav a:hover {
  border-color: #505050;
  color: #444;
}

nav a.active {
  background-color: #505050;
  color: #F2F2F2;
  cursor: default;
  border-radius: 2px;
  border-color: #505050;
  padding: 0 10px;
}
footer {
  text-align: center;
  color: #898989;
  padding: 4px;
  background-color: #F2F2F2;
}
@media screen and (min-width: 600px) {
nav li {
  padding: 0 10px;
  border-bottom: none;
  height: 30px;
  line-height: 30px;
  font-size: 1.4em;
}
nav li {
  display: inline-block;
}
}
/*end of nav styles*/
