.wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  /*restrictions*/
  margin: 1em;
}
.wrapper div {
  background-image: linear-gradient(210deg, #042645, #4a2943, #792741, #a61a3e);
  border-radius: .5em;
  /*restrictions*/
  padding: 1em;
}
.un:hover {
  grid-row: 1 / 3;
}
