body {
  font-size: 14px;
  font-family: 'Lora', serif;
  color: #454545;
}
#landing {
  height: 100vh;
  display: grid;
  grid-template-columns: 5% auto 50px;
  grid-template-rows: 50px minmax(10px, 250px) max-content max-content minmax(10px, 150px) max-content minmax(10px, 50px);
}
#landing * {
  grid-column: 2 / 4;
}
#landing #navIcon {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  justify-self: center;
  align-self: center;
  font-size: 40px;
  cursor: pointer;
}
#landing h1 {
  grid-row: 3 / 4;
  font-size: 34px;
  color: #2B2B2B;
  padding-bottom: 10px;
}
#landing h2 {
  grid-row: 4 / 5;
  font-size: 16px;
  font-style: italic;
}
#landing h3 {
  grid-row: 6 / 7;
  font-size: 20px;
}
.link {
  color: #E0E0E0;
  background-color: #2B2B2B;
  text-decoration: underline;
}
#titans {
  display: grid;
  grid-template-columns: 5% 1fr 50px;
  grid-template-rows: 50px 50px auto auto;
}
#titans h1, #titans .titanList {
  grid-column: 2 / 4;
}
#titans #navIcon {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  justify-self: center;
  align-self: center;
  font-size: 40px;
  cursor: pointer;
}
.titanList {
  grid-row: 5 / 6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 3em;
}
.titanList a section {
  display: grid;
  grid-template-columns: minmax(10px, 300px) 50px;
  grid-template-rows: 50px 400px max-content;
}
.titanList a section img {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.titanList a section h2 {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  text-align: right;
  font-size: 34px;
  margin-top: 10px;
  color: #454545;
}
.titanList a {
  text-decoration: none;
}
#titans h1 {
  grid-row: 2 / 3;
  font-size: 34px;
  color: #9A9A9A;
  align-self: center;
  margin-bottom: 20px;
}
.title {
  background-color: #2B2B2B;
  color: #E8E8E8;
  padding: 0 3px;
}
.titanAbout {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
#about {
  display: grid;
  grid-template-columns: 5% 1fr 50px;
  grid-template-rows: 50px auto auto auto auto;
}
#about * {
  grid-column: 2 / 3;
}
#about #navIcon {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  justify-self: center;
  align-self: center;
  font-size: 40px;
  cursor: pointer;
}
#about h1 {
  grid-row: 2 / 3;
  font-size: 34px;
  color: #9A9A9A;
  align-self: center;
  margin-bottom: 20px;
  line-height: 1.4em;
}
#about p {
  grid-row: 3 / 4;
}
#qoute {
  grid-row: 4 / 5;
}
#personal {
  grid-row: 5 / 6;
}
.bio {
  display: grid;
  grid-template-columns: 5% minmax(auto, 400px) 60px 1fr 50px;
  grid-template-rows: 50px auto auto auto auto auto;
  grid-template-areas:
  "bumper . . . nav"
  "bumper pic . . ."
  "bumper pic name . ."
  "bumper bio name . ."
  "bumper . . . ."
  "bumper link . . ."
  "bumper knownFor . . .";
}
.bio #navIcon {
  grid-area: nav;
  justify-self: center;
  align-self: center;
  font-size: 40px;
  cursor: pointer;
}
.bio h1 {
  grid-area: name;
  writing-mode: vertical-rl;
  font-size: 37px;
}
.bio h1 .title {
  padding: 5px;
}
.bio img {
  grid-area: pic;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bio p {
  grid-area: bio;
  line-height: 1.3em;
  margin-top: 20px;
}
.qoutes {
  font-style: italic;
}
.bio section {
  grid-area: knownFor;
  margin-top: 20px;
}
.bio section ul {
  margin-left: 25px;
  margin-bottom: 25px;
  list-style-type: disc;
}
.bio section ul li {
  margin-top: 5px;
  font-size: 16px;
}
.bio section h3 {
  font-size: 22px;
  font-style: italic;
}
.bio a {
  grid-area: link;
  margin: 15px 0;
  color: #707070;
}
.bio p .title {
  padding: 0;
}
@media screen and (min-width: 800px) {
  .bio {
    grid-template-columns: 5% minmax(auto, 400px) 20px minmax(20px, 400px) 1fr 50px;
    grid-template-rows: 50px auto auto auto auto 20px auto 35px;
    grid-template-areas:
    ". . . . . nav"
    ". pic . name . ."
    ". pic . knownFor . ."
    ". bio bio . . ."
    ". bio bio . . ."
    ". link link . . ."
    ". . . . . ."
    ". . . . . .";
  }
  .bio h1{
    writing-mode: horizontal-tb;
    align-self: end;
    line-height: 1.3em;
  }
}
@media screen and (min-width: 992px) {
  #navIcon {
    display: none;
  }
  body {
    display: grid;
    grid-template-columns: auto 250px;
    grid-template-rows: minmax(100vh, 100%);
  }
  main {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  footer {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    grid-template-rows: 2em min-content auto min-content 1em;
  }
}
