html {
  font-size: 18px;
}
body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  background-color: GhostWhite;
  color: DimGray;
  font-size: 1rem;
  font-weight: 500;
}
.hidden {
  display: none;
}
span {
  color: orange;
}
h2 {
  color: #301b00;
  /* color: #9e9e9ecc; */
  font-size: 1.5rem;
  font-weight: 400;
  margin: .3em 0 0 0;
  text-align: center;
}
section h2 {
  color: #9e9e9ecc;
}
section h2::before {
  content: "//";
  margin-right: 10px;
}
h3 {
  font-size: 1.3rem;
  font-weight: 600;
}
h4 {
  color: orange;
  font-size: 1.1rem;
  font-weight: 600;
}
a {
  color: inherit;
}
.skills {
  min-height: 100vh;
  margin-top: 4em;
  padding: 10px;
  background-color: GhostWhite;
  border-radius: 5px;
  text-align: center;
}
.skills section {
  margin: 35px 0;
}
.skills section h4 {
  margin-bottom: 25px;
  margin-top: 15px;
}
.skills section ul li {
  margin-bottom: 20px;
}

/* .work is in projectStyles.css */

.titleIcon {
  display: block;
  margin: 40px auto 15px auto;
}
footer {
  margin-top: 2em;
  background-color: #909090;
  color: #f8f8ff;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  height: 150px;
  display: grid;
  grid-template-rows:  [contactMe] 1fr [socials] 1fr [bottomArea] 1fr;
  grid-template-columns: [gutterLeft] 10px [social1] 1fr [social2] 1fr [gutterRight] 10px;
}
footer a {
  text-decoration: none;
}
.contactButtonFoot {
  grid-row: contactMe;
  grid-column: 2 / 5;
  justify-self: center;
  align-self: center;
  color: #f8f8ff;
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 25px;
  transition: .3s ease;
}
#linkedIn {
  grid-row: socials;
  grid-column: social1;
  font-weight: 400;
  align-self: center;
}
#behance {
  grid-row: socials;
  grid-column: social2;
  font-weight: 400;
  align-self: center;
}
footer p {
  grid-row: bottomArea;
  grid-column: 2 / 5;
  font-weight: 400;
  align-self: end;
}
footer p a {
  color: #4d4d4d;
}
#tools {
  margin-top: 100px;
}
@media screen and (min-width: 850px) {
  .skills {
    margin-top: 4em;
    padding: 0;
    background-color: GhostWhite;
    border-radius: 0;
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template:
    "a a a" auto
    "b . c" auto / 1fr minmax(0, 300px) 1fr;
  }
  .skills h2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: a;
  }
  #code, #tools {
    margin-top: 4em;
    padding: 20px 0px 40px 0px;
    background-color: GhostWhite;
    border-radius: 5px;
    width: 300px;
  }
  #code {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: b;
    padding-right: 1em;
    justify-self: end;
  }
  #tools {
    grid-area: c;
    padding-left: 1em;
    justify-self: start;
  }
  .skills > img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .skills > h2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}
@media screen and (min-width: 634px) {
  footer {
    grid-template-rows: [contactMe] 1fr [bottomArea] 1fr;
    grid-template-columns: [gutterLeft] 10px [social1] 70px [gutter1] minmax(0, 10px) [social2] 70px [gutter2] minmax(0, 10px) [blood] auto [gutterRight] 10px;
    padding-bottom: 25px;
    height: 100px;
  }
  .contactButtonFoot {
    grid-row: contactMe;
    grid-column: 2 / 6;
    align-self: end;
    justify-self: start;
    text-align: left;
    padding: 0;
    color: #f8f8ff;
  }
  .contactButtonFoot:hover {
    padding-left: 10px;
    color: #4d4d4d;
  }
  #linkedIn {
    grid-row: bottomArea;
    grid-column: social1;
    align-self: end;
    justify-self: start;
    transition: .3s ease;
  }
  #linkedIn:hover {
    color: #4d4d4d;
  }
  #behance {
    grid-row: bottomArea;
    grid-column: social2;
    align-self: end;
    justify-self: start;
    transition: .3s ease;
  }
  #behance:hover {
    color: #4d4d4d;
  }
  footer p {
    grid-row: bottomArea;
    grid-column: blood;
    grid-row: bottomArea;
    grid-column: blood;
    justify-self: end;
  }
}
/* Auto prefixed with https://autoprefixer.github.io/ <3 */
